{% extends "base.html" %}

{% block title %}Add tags{% endblock %}

{% block content %}

<div id='default_content'>
    <div id='min_banner'><h2>Select more roles to add</h2></div>
    <div id='info_bar'><h3>(There is a limit of 10 tags per person)</h3></div>
    <div id='booking_summ'>

        <form action="." method="POST">
            {{ form.new_roles }}
            <div class='single_booking_summ'>
                <p>
                    <input type="submit" value="Done"/>
                    <span style='float:right; padding: 1em;'>
                        Don't see what you're looking for? Add a new tag
                        <a href='/tags/maketag/'>here</a>
                        </span>
                        &nbsp;
                </p>
            </div>
        </form>

    </div>
    &nbsp;
</div>
&nbsp;

{% endblock %}
