{% extends "base_simple.html" %}
{% block title %}{% endblock %}

{% block content %}
{% autoescape on %}

    <p>&nbsp;</p>
    <table style='padding: 0 2em 1em 2em'>
        <tr>
            <p style='padding: 0pt 2em 2em; line-height: 2em; font-size: 16px;'>
                Networking for artists, companies and venues has never been easier.
                <br>
                Just log on to ArtsTent to advertise yourself, search for fellow creatives
                and showcase your work.
            </p>
        </tr>
        <tr>
            <td><h1>Already registered?</h1></td>
            <td><h1>Don't have an account?</h1></td>
        </tr>
        <tr>
            <td style='padding-right: 40px'>
                <form action="." method="post">

                    <div id='min_banner'></div>
                    <table>
                        {{ form.as_table }}
                    </table>

                    {% comment %}
                    {% if form.username.errors %}
                        {{ form.username.html_error_list }}
                    {% endif %}
                    <p>
                        <label for="id_username">Username:</label> {{ form.username }}
                    </p>
                    {% if form.password.errors %}
                        {{ form.password.html_error_list }}
                    {% endif %}
                    <p>
                        <label for="id_password">Pasword:</label> {{ form.password }}
                    </p>
                    {% endcomment %}

                    <input type="hidden" name="next" value="{{ next|escape }}" />
                    <input type="submit" value="Login" />


                </form>

            </td>
            <td>
                <p>Register as a</p>
                <ul style='padding:0.5em 0 0 1.5em'>
                    <li>Performer
                        <a href='/accounts/register/individual/'>
                            &gt;&gt;&gt;
                        </a>
                    </li>
                    <li>Backstage worker
                        <a href='/accounts/register/individual/'>
                            &gt;&gt;&gt;
                        </a>
                    </li>
                    <li>Artistic company
                        <a href='/accounts/register/company/'>
                            &gt;&gt;&gt;
                        </a>
                    </li>
                    <li>Venue for arts
                        <a href='/accounts/register/venue/'>
                            &gt;&gt;&gt;
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        <!-- tr>
            <td>
                <br>
                <br>
                <br>
                {% if updated_profiles %}
                    <h2>Last updated profiles</h2>
                {% endif %}
                <ul style='list-style:none'>
                    {% for p in updated_profiles %}
                        <li><a href='/users/{{ p }}/'>{{ p }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr -->
    </table>


{% endautoescape %}
{% endblock %}
