{% extends "base.html" %}
{% block title %}
    Itinerary for {{ h_user.get_profile.full_name }}
{% endblock %}

{% block content %}

<div id='default_content'>
    <div id='min_banner'><h2>Itinerary for {{ h_user.get_profile.full_name }}</h2></div>
    <div id='info_bar'>
        <h3>
        {% ifequal h_user.get_profile.PERSON h_user.get_profile.type %}
                Status:
                {% if busy_today %}
                    busy working at the moment
                {% else %}
                    currently free!
                {% endif %}
        {% else %}
                Status:
                {% if busy_today %}
                    busy at the moment
                {% else %}
                    looking for something interesting
                {% endif %}
        {% endifequal %}
        {% ifequal h_user.get_profile user.get_profile %}
            <span style='float:right'>
                <a href='/booking/book_time/'>Add an event</a>
            </span>
        {% endifequal %}
        </h3>
    </div>
    <div id='booking_summ'>

        {% for bk in booking_list %}
            <div class='single_booking_summ'>
                <p>
                    <span style='float:left'>
                        <a href='/booking/id/{{bk.id}}'>{{ bk.name }}</a>
                    </span>
                    <span style='float:right'>
                        {{ bk.start|date:"j M Y" }}
                        &#151;
                        {{ bk.end|date:"j M Y" }}
                    </span>
                    &nbsp;
                </p>
            </div>
        {% endfor %}
    </div>
    &nbsp;
</div>
&nbsp;


{% endblock %}
