{% extends "base_simple.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}
<div id='default_content'>
    <h1>Change password</h1>

    <form action="." method="post">
        <table>
            {% for r in form %}
                <tr>
                    <td>{{ r.label }}&nbsp;&nbsp;</td>
                    <td>{{ r }}</td>
                </tr>
            {% endfor %}
        </table>

        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="Change" />
    </form>
</div>
{% endblock %}
