{% extends "base_simple.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div id='default_content'>
    <h1>Create an account</h1>

    <form action="." method="POST" enctype="multipart/form-data">
        <table>
            <tr><td colspan="4">{{ form.first_name.errors }}</td></tr>
            <tr>
                <td>First name</td>
                <td>*</td>
                <td>{{ form.first_name }}</td>
            </tr>
            <tr><td colspan="4">{{ form.last_name.errors }}</td></tr>
            <tr>
                <td>Last name</td>
                <td>*</td>
                <td>{{ form.last_name }}</td>
            </tr>
            <tr><td colspan="4">{{ form.email.errors }}</td></tr>
            <tr>
                <td>Email</td>
                <td>*</td>
                <td>{{ form.email }}</td>
            </tr>
            <tr><td colspan="4">{{ form.city.errors }}</td></tr>
            <tr>
                <td>City</td>
                <td>*</td>
                <td>{{ form.city }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr><td colspan="4">{{ form.sex.errors }}</td></tr>
            <tr>
                <td>Sex</td>
                <td></td>
                <td>{{ form.sex }}</td>
            </tr>
            <tr><td colspan="4">{{ form.dob.errors }}</td></tr>
            <tr>
                <td>Date of birth</td>
                <td></td>
                <td>{{ form.dob|default:"DD/MM/YYYY" }}</td>
            </tr>
            <tr>
                <td>Picture</td>
                <td></td>
                <td>{{ form.picture }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>

            <tr><td colspan="4">{{ form.username.errors }}</td></tr>
            <tr>
                <td>username</td>
                <td>*</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>*</td>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr><td colspan="4">{{ form.password2.errors }}</td></tr>
            <tr>
                <td>Password (again)</td>
                <td>*</td>
                <td>{{ form.password2 }}</td>
            </tr>
        </table>
        <p>&nbsp;</p>
        <table>
            <tr>
                <td>{{ form.email_news }}</td>
                <td>Send me occassional updates as new features appear</td>
            </tr>
            <tr><td colspan="4">{{ form.tandcs.errors }}</td></tr>
            <tr>
                <td>{{ form.tandcs }}</td>
                <td>I agree to the <a href='/media/tandcs.html'>T&and;Cs of ArtsTent</a> *</td>
            </tr>
        </table>
        <p style='float:right'>( * required )</p>

        <p><input type="submit" value="Submit"/></p>
    </form>
</div>
{% endblock %}

