{% extends "base.html" %}

{% block title %}
    {% ifequal '' id %}
        Make a booking
    {% else %}
        Change a booking
    {% endifequal %}
{% endblock %}

{% block content %}

<script type="text/javascript">
    $(function() {
        $(".datepicker").datepicker({dateFormat: 'dd/mm/yy'});
    });
</script>


<div id='default_content'>

    {% ifequal '' id %}
        <div id='min_banner'><h2>Make a booking in your itinerary</h2></div>
    {% else %}
        <div id='min_banner'><h2>Make changes to your booking</h2></div>
    {% endifequal %}
    <div id='booking_summ'>

        {% if errors %}
            <h3>Please correct the following problems:</h3>
            <ul style='padding: 0 0 1em 2em'>
                {% for error in errors %}
                    <li style='list-style:none'>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="." method="post">

            <table>
                <tr>
                    <td>Project <b style='color:red'>*</b>&nbsp;</td>
                    <td><input name="title" type="text" value='{{ title }}'></td>
                </tr>
                <tr>
                    <td>From <b style='color:red'>*</b></td>
                    <!-- need to add this : __ class="datepicker" __ to have JS pop-up -->
                    <td>
                        {% if start %}
                            <input name="start" value='{{ start|date:"d/m/Y" }}' type="text">
                        {% else %}
                            <input name="start" value='DD/MM/YYYY' type="text">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Until <b style='color:red'>*</b></td>
                    <td>
                        {% if until %}
                            <input name="until" value='{{ until|date:"d/m/Y" }}' type="text">
                        {% else %}
                            <input name="until" value='DD/MM/YYYY' type="text">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Where</td>
                    <td><input name="location" value='{{ location }}' type="text"></td>
                </tr>
            </table>
            <p style='padding-top:1em'>A bit more info...</p>
            <textarea type="text" name="more" cols=40 rows=6>{{ more }}</textarea>

            <input type='hidden' name='id' value='{{ id }}' type='text'>

            <input type="submit" value="Submit">
            <p style='padding-top:1em'><b style='color:red'>*</b> just these ones are fine</p>
        </form>


    </div>
    &nbsp;
</div>
&nbsp;

{% endblock %}
