{% extends "base.html" %}
{% block title %}
    {{ h_user.get_profile.full_name }}
{% endblock %}

{% block content %}
{% autoescape on %}

        <script type="text/javascript">
            $(document).ready(function() {
                $(".add_contact").click(function() {
                    $(this).parent().hide()
                    var params = {};
                    jQuery.ajax({
                        type:'POST',
                        dataType:'xml',
                        url: $(this).attr('id'),
                        data: params
                    })
                });
            });
        </script>

       <div id='side'>
            <h1 style='width:200px'>{{ h_user.get_profile.full_name }}</h1>
            <div id='profile_pic'>
                <img
                    {% if h_user.get_profile.picture %}
                        src='{{ h_user.get_profile.picture.url }}'
                    {% else %}
                        src='http://www.artstent.com/media/whoami.png'
                    {% endif %}
                    alt='Picture: {{ h_user.get_profile.full_name }}'
                    width=200px height=267px
                  >
                {% if is_my_profile %}
                    <p style='padding-top: 0.5em'>
                        [<a href='/accounts/user_picture/'>Change picture</a>]
                    </p>
                {% endif %}
            </div>
            <div id='vital_stats'>
                <p>{{ h_user.get_profile.get_city_display }}</p>
                {% ifequal h_user.get_profile.PERSON h_user.get_profile.type %}
                    <p>{{ h_user.get_profile.get_sex_display }}</p>
                    {% if h_user.get_profile.dob %}
                        <p>DoB: {{ h_user.get_profile.dob|date:"j M Y" }}</p>
                    {% endif %}
                {% endifequal %}
                <p>Member since: {{ h_user.get_profile.registration|date:"j M Y" }}</p>
                <p>
                    <a href='/msging/create_msg/?contact={{ h_user.get_profile.name }}'>
                        Send message
                    </a>
                </p>
                {% if not is_my_profile %}
                    {% if not is_friend %}
                        <p>
                            <a
                                class='add_contact'
                                id='/users/{{ user.get_profile.name }}/contacts/add/{{ h_user.username }}/'
                                href='javascript:void(0)'
                                    >Add to your contacts</a>
                        </p>
                    {% endif %}
                {% endif %}

                {% ifequal h_user.get_profile.PERSON h_user.get_profile.type %}
                    <h3>My links</h3>
                {% else %}
                    <h3>Links</h3>
                {% endifequal %}
                {% for l in my_links %}
                    <p>
                        <a href='{{ l.other_profile }}'>{{ l.name }}</a>
                        <img src='http://localhost/media/ext-link.png'>
                    </p>
                {% endfor %}
                {% if is_my_profile %}
                    <p>[<a href='/links/{{ h_user.username }}/'>Make changes</a>]</p>
                {% endif %}

                {% ifequal h_user.get_profile.PERSON h_user.get_profile.type %}
                    <h3>Biography</h3>
                {% else %}
                    <h3>About us</h3>
                {% endifequal %}
                <p>{{ h_user.get_profile.bio|linebreaks }}</p>
                {% if is_my_profile %}
                    <p>[<a href='/accounts/bio/'>edit me</a>]</p>
                {% endif %}
            </div>
        </div>
        <div id='content'>

            {% ifequal h_user.get_profile.PERSON h_user.get_profile.type %}
                <h2>Status:
                {% if busy_today %}
                    busy working at the moment</h2>
                {% else %}
                    currently free!</h2>
                {% endif %}
            {% else %}
                <h2>Status:
                {% if busy_today %}
                    busy at the moment</h2>
                {% else %}
                    looking for something interesting</h2>
                {% endif %}
            {% endifequal %}

            <div id='booking_summ'>
                <h3>Coming bookings:</h3>


                {% if future_bookings %}
                    {% for d in future_bookings %}

                        <div class='single_booking_summ'>
                            <p>
                                <span style='float:left'>
                                    {{ d.name }}: [<a href='/booking/id/{{ d.id }}/'>more</a>]
                                </span>
                                <span style='float:right'>
                                    {{ d.start|date:"j M Y" }}
                                    &#151;
                                    {{ d.end|date:"j M Y" }}
                                </span>&nbsp;
                            </p>
                        </div>

                    {% endfor %}
                {% else %}
                    <div class='single_booking_summ'>
                        <p>
                            <span style='float:left'>[No registered bookings]</span>
                            <span style='float:right'>&nbsp;</span>&nbsp;
                        </p>
                    </div>
                {% endif %}
                <div class='single_booking_summ'>
                    <p>
                        <span style='float:left'>
                            View my full <a href='/booking/{{ h_user.username }}/'>itinerary</a>
                        </span>
                        <span style='float:right'>
                            {% if is_my_profile %}
                                Add more bookings
                                <a href='/booking/book_time/'>here</a>
                            {% endif %}
                        </span>&nbsp;
                    </p>
                </div>
            </div>

            {% ifequal h_user.get_profile.PERSON h_user.get_profile.type %}
                <h2>My tags</h2>
            {% else %}
                <h2>Tags</h2>
            {% endifequal %}
            <div id='my_main_tags'>
                <ul class='single_tags_summ'>
                    {% ifequal h_user.get_profile.PERSON h_user.get_profile.type %}
                        {% for t in h_user.get_profile.role.all %}
                            <li><a href='/tags/roles/{{t}}/'>{{ t }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% ifequal h_user.get_profile.VENUE h_user.get_profile.type %}
                            {% for t in h_user.get_profile.venue_tags.all %}
                                <li><a href='/tags/roles/{{t}}/'>{{ t }}</a></li>
                            {% endfor %}
                        {% else %}
                            {% for t in h_user.get_profile.role.all %}
                                <li><a href='/tags/roles/{{t}}/'>{{ t }}</a></li>
                            {% endfor %}
                        {% endifequal %}
                    {% endifequal %}
                    {% if is_my_profile %}
                    <li>
                        ( <a href="/users/add_roles/">Add</a>
                        {% if h_user.get_profile.role.all or h_user.get_profile.venue_tags.all %}
                            /<a href="/users/remove_roles/"> remove</a>
                        {% endif %}
                        )
                    </li>
                    {% endif %}
                </ul>
            </div>

            <script type="text/javascript">
                function limitChars(textid, limit, infodiv)
                {
                    var text = $('#'+textid).val();
                    var textlength = text.length;
                    if(textlength > limit) {
                        $('#' + infodiv).html(''+ (limit - textlength) +' characters remaining');
                        $('#'+textid).val(text.substr(0,limit));
                        return false;
                    }
                    else {
                        $('#' + infodiv).html(''+ (limit - textlength) +' characters remaining');
                        return true;
                    }
                }
                $(function(){
                    $(function(){
                        $('#newBlogPost').bind('paste click mouseout change select keypress', function(){
                            if(!limitChars('newBlogPost', 500, 'charlimitinfo')) {
                                $('#postBlog').attr('disabled', true);
                            } else {
                                $('#postBlog').removeAttr('disabled');
                            }
                        })
                    });
                })
            </script>

            <h2>News</h2>
            <p>What's happening for me at the moment</p>
            <div id='profile_news'>
                {% if h_user.get_profile.post_set.all %}
                    {% for p in h_user.get_profile.post_set.all %}
                        <div class='profile_news_item'>
                            <p>{{ p.body|linebreaks }}</p>

                            <p style='font-size:11px;' class='news_info'>
                                {{ p.c_time|date:"P j M Y" }}
                                {% if is_my_profile %}
                                    |
                                    <a class='deletePost' id='{{ p.id }}'
                                        onclick="return confirm('Are you sure you want to delete the post?')"
                                        href='/blog/delete/{{ p.id }}/'>
                                        Delete
                                    </a>
                                {% endif %}
                            </p>&nbsp;
                        </div>
                    {% endfor %}
                {% else %}
                    <div class='profile_news_item'>
                        <p id='posts'>[ No posts yet... ]</p>
                    </div>
                {% endif %}
                {% if is_my_profile %}
                    <div class='profile_news_item' style='border-bottom:none'>
                        <form action="/blog/create/" method='POST'>
                            <textarea rows="3" cols="55" name='body' id='newBlogPost' wrap=Physical></textarea>
                            <br>
                            <p style='float:left'>
                                <span id="charlimitinfo" style=" float:left;">500 characters remaining</span>
                                &nbsp;&nbsp;
                                <input type='submit'
                                       id='postBlog'
                                       value='update'>
                                </input>
                            </p>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
        &nbsp;

{% endautoescape %}
{% endblock %}
