{% extends "base.html" %}

{% block title %}Add a link to your work{% endblock %}

{% block content %}
{% autoescape on %}

        <div id='default_content'>
            <div id='min_banner'><h2>Biography</h2></div>
            <div id='info_bar'>
                <p style='padding-top:1em; padding-bottom:1em'>
                    Enter a link to an example of your work and a name for it
                </p>
            </div>
            <div id='booking_summ'>
                <form action="." method="POST">
                    <div class='single_booking_summ'>
                        <p>Name for the link&nbsp;&nbsp;
                            {{ form.label }}&nbsp;&nbsp;
                            <span style='color:grey'>eg. Role of Antonio in ...</span>
                        </p>
                    </div>
                    <div class='single_booking_summ'>
                        <p>Link to your work&nbsp;&nbsp;
                            {{ form.link }}&nbsp;&nbsp;
                            <span style='color:grey'>eg. www.youtube.com/watch?v=9w-jD7kM1...</span>
                        </p>
                    </div>

                    <p style='padding-top:1.5em'><input type="submit" value="Save"/></p>
                </form>
            </div>
            &nbsp;
        </div>
        &nbsp;

{% endautoescape %}
{% endblock %}

