{% extends "base.html" %}

{% block title %}
    Messages
{% endblock %}


{% block content %}

<div id='default_content'>
    <div id='min_banner'>
        <h2>
            Messages
            {% ifequal h_user user%}
                <span style='float:right'>
                    <a href='/msging/create_msg/'>Create message</a>
                </span>
            {% endifequal %}
        </h2>
    </div>
    <div id='info_bar'>
        <p>{{ h_user.get_profile.full_name }}</p>
    </div>
    <div id='booking_summ'>

        {% for msg in message_list %}
            <div class='single_booking_summ'>
                <p>
                    <span>From: </span>{{msg.sender}}
                    <span style='float:right'>
                        {{ msg.sent_time|date:"j M Y" }}
                    </span>
                </p>
                <p>
                    {# This sucks (inc layout of code) but there's #}
                    {# no other way using generic ops #}
                    To:
                    {% for r in msg.recipient.all %}
                        {% ifequal forloop.counter 1 %}
                            {{ r }}
                        {% endifequal %}{% ifequal forloop.counter 2 %},
                            {{ r }}
                        {% endifequal %}{% ifequal forloop.counter 3 %},
                            {{ r }}
                        {% endifequal %}
                        {% ifequal forloop.counter 4 %}
                            ...
                        {% endifequal %}
                    {% endfor %}
                </p>
                <p>{{ msg.body|linebreaks }}</p>
                <p style='padding-top:1em'>
                    {% ifequal user h_user%}
                        {% ifnotequal msg.owner msg.sender %}
                            Reply to <a href='/msging/create_msg/?contact={{msg.sender}}'>{{msg.sender}}</a>
                            {% ifnotequal msg.recipient.count 1 %}
                                / <a href=''>everyone</a>
                            {% endifnotequal %} |
                        {% endifnotequal %}
                        <a
                            href='/msging/delete_msg/{{msg.id}}'
                            onclick="return confirm('Are you sure you want to delete this message?')"
                            >Delete</a>
                    {% endifequal %}
                </p>
            </div>
        {% endfor %}
        <div class='single_booking_summ'>
            <p>&nbsp;</p>
        </div>
    </div>
    &nbsp;
</div>
&nbsp;


{% endblock %}
