<html>
<head>
    <script type="text/javascript" src="http://www.artstent.com/media/js/jquery.js"></script>
    <script type="text/javascript" src="http://www.artstent.com/media/js/jquery-ui.js"></script>
    <!-- script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script -->
    <!-- script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-9960860-2");
            pageTracker._trackPageview();
        } catch(err) {}
    </script -->
    <!-- meta name="verify-v1" content="/ynBf3xXCYsznW1bhfUb3tB4YWIFaCTiLTov4vvhilg=" / -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="stylesheet"
          type="text/css"
          href='http://www.artstent.com/media/style.css'>
    </link>
    <title>
        {% block title %}{% endblock %} - ArtsTent
    </title>
</head>
<body>
{% autoescape on %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<div id='all'>
    <div id='masthead'><a href='/'><!-- img src='http://www.artstent.com/media/banner.png' / --></a></div>
    <div id='menu'>
        <ul class="righthand">
            <li><a href='/accounts/settings/'>Settings</a></li>
            <li><a href='/accounts/logout/'>Logout</a></li>
        </ul>
        <ul class="lefthand">
            <li><a href='/'>Home</a></li>
            {% if user.is_authenticated %}
                {% ifequal user.username h_user.username %}
                    {% if msg_count %}
                        <li><a style='color:white; text-decoration: none' href="/msging/{{ user.username }}/" class="button"
                                >Messages<!-- ({{ msg_count }})--></a></a></li>
                    {% else %}
                        <li><a style='color:white; text-decoration: none' href="/msging/{{ user.username }}/" class="button"
                                >Messages</a></a></li>
                    {% endif %}
                {% endifequal %}
            {% endif %}
            <li><a href="/booking/{{ user.username }}/" class="button">Itinerary</a></li>
            <li><a href='/accounts/mini_search/'>Find users</a></li>
        </ul>
    </div>
    <div id='logging_id'>
        <!-- div id='findActor' style='float:left'
            {% if no_menu_search %}
                style='visibility:hidden;'
            {% endif %}
            >
                Find users tagged
                <form action="/accounts/full_search/" method="GET">
                < !-- what_to_find=ballerina -- >
                    <select name="tag">

                        < !-- One of tags needs this selected="selected" to be default -- >
                        {% for t in all_tags %}
                            <option value="{{ t }}">{{ t }}</option>
                        {% endfor %}
                    </select>

                    <input type='submit' value='Search'>
                </form>
        </div -->
        {% if user.is_authenticated %}
            <p>Logged in as {{ user.username|escape }}. (Not you? Please <a href="/accounts/logout">re-login</a>)</p>
        {% else %}
            <p>Welcome, Mr Mystery. Please <a href="/accounts/login">log in</a>
                or <a href="/accounts/register">register</a></p>
        {% endif %}
        &nbsp;
    </div>
    <div id='main'>

        {% block content %}

        {% endblock %}

    </div>
    <div id='footer'>&copy; ArtsTent</div>
</div>
{% endautoescape %}
</body>
</html>
