{% extends "base.html" %}

{% block title %}Edit biography{% endblock %}

{% block content %}
{% autoescape on %}

        <div id='default_content'>
            <div id='min_banner'><h2>Biography</h2></div>
            <div id='info_bar'>
                <p style='padding-top:1em; padding-bottom:1em'>
                    There is a limit of 500 charaters to describe yourself
                </p>
            </div>
            <div id='booking_summ'>
                <form action="." method="POST">
                    <table>
                        {% for r in form %}
                        <tr>
                            <td>{{ r }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <p style='padding-top:1.5em'><input type="submit" value="Save"/></p>

                </form>
            </div>
            &nbsp;
        </div>
        &nbsp;

{% endautoescape %}
{% endblock %}

