{% extends "base.html" %}

{% block title %}Change your profile picture{% endblock %}

{% block content %}
{% autoescape on %}

        <script type="text/javascript">
            $(document).ready(function() {
                $("#pictureSubmit").click(function() {
                    $(this).attr("disabled","disabled");
                    $(this).attr("value", "Uploading photo...");
                });
            });
        </script>

        <div id='default_content'>
            <div id='min_banner'><h2>Change your picture</h2></div>
            <div id='info_bar'>
                <p style='padding-top:1em'>
                    To get the best picture, choose a photo in portrait view.
                </p>
                <p style='padding-bottom:1em'>
                    The best size is anything like 600w x 800h, 1944w x 2592h.
                    (Anything with a ratio 3:4, width:height)
                </p>
            </div>
            <div id='booking_summ'>
                <form action="." method="POST" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td>{{ form.picture }}</td>
                        </tr>
                    </table>
                    <p style='padding-top:1.5em'>
                        <input type="submit" id='pictureSubmit' value="Save"/>
                    </p>

                </form>
            </div>
            &nbsp;
        </div>
        &nbsp;

{% endautoescape %}
{% endblock %}

