<html>
<head>
    <link rel="stylesheet"
          type="text/css"
          href='http://localhost/media/style.css'></link>
</head>
<body>
<div id='all'>
    <div id='masthead'>[logo]</div>
    <div id='menu'>
        <ul class="righthand">
            <li>Settings</li>
            <li>Logout</li>
        </ul>
        <ul class="lefthand">
            <li>Home</li>
            <li>Messages (3)</li>
        </ul>
    </div>
    <div id='main'>
        <div id='default_content'>
            <div id='min_banner'><h2>Itinerary for Noel Evans</h2></div>
            <div id='info_bar'><h3>Status: currently free!</h3></div>
            <div id='booking_summ'>


                <div class='single_booking_summ'>
                    <p>View my full <a href=''>itinerary</a><span style='float:right'>Add more bookings <a href=''>here</a></span></p>
                </div>
                <div class='single_booking_summ'>
                    <p>View my full <a href=''>itinerary</a><span style='float:right'>Add more bookings <a href=''>here</a></span></p>
                </div>
                <div class='single_booking_summ'>
                    <p>View my full <a href=''>itinerary</a><span style='float:right'>Add more bookings <a href=''>here</a></span></p>
                </div>
            </div>
            &nbsp;
        </div>
        &nbsp;
    </div>
    <div id='footer'>&copy; Terpsicle</div>
</div>
</body>
</html>
