<html>
<head>
    <script type="text/javascript" src="http://localhost/media/js/jquery.js"></script>
    <script type="text/javascript" src="http://localhost/media/js/jquery-ui.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href='http://localhost/media/style.css'></link>
</head>
<body>
<div id='all'>
    <div id='masthead'>[logo]</div>
    <div id='menu'>
        <ul class="righthand">
            <li>Settings</li>
            <li>Logout</li>
        </ul>
        <ul class="lefthand">
            <li>Home</li>
            <li>Messages (3)</li>
        </ul>
    </div>
    <div id='logging_id'>
        <p>Logged in as Noel Evans. If this is not you, please click <a href=''>here</a></p>&nbsp;
    </div>
    <div id='main'>
        <div id='side'>
            <h1>Noel Evans</h1>
            <div id='profile_pic'>
                <img src='http://localhost/media/me_port.jpg'>
            </div>
            <div id='vital_stats'>
                <p>London</p>
                <p>Male</p>
                <p>27 years old</p>
                <p>Member since: 12 Dec 2008</p>
                <h3>Previous work</h3>
                <p></p>
                <h3>Biography</h3>
                <p>Laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut</p>
            </div>
        </div>
        <div id='content'>

            <h2>Status: currently free!</h2>
            <div id='booking_summ'>
                <p>Coming bookings:</p>
                <div class='single_booking_summ'>
                    <p>
                        Fishing on the Thames: [<a href=''>more</a>]
                        <span style='float:right'>12th Aug 2009 - 31 Dec 2009</span>
                    </p>
                </div>
                <div class='single_booking_summ'>
                    <p>
                        Reading in the park: [<a href=''>more</a>]
                        <span style='float:right'>12th Aug 2009 - 31 Dec 2009</span>
                    </p>
                </div>
                <div class='single_booking_summ'>
                    <p>
                        Sailing on the pond: [<a href=''>more</a>]
                        <span style='float:right'>12th Aug 2009 - 31 Dec 2009</span>
                    </p>
                </div>
                <div class='single_booking_summ'>
                    <p>View my full <a href=''>itinerary</a><span style='float:right'>Add more bookings <a href=''>here</a></span></p>
                </div>
            </div>

            <h2>My tags</h2>
            <div id='my_main_tags'>
                <ul class='single_tags_summ'>
                    <li><a href=''>actor</a></li>
                    <li><a href=''>shakespeare</a></li>
                    <li><a href=''>period_works</a></li>
                    <li><a href=''>contempory</a></li>
                    <li><a href=''>producer</a></li>
                    <li><a href=''>shakespeare</a></li>
                    <li><a href=''>period_works</a></li>
                    <li><a href=''>contempory</a></li>
                    <li><a href=''>producer</a></li>
                </ul>
            </div>

            <h2>News</h2>
            <p>What's happening for me at the moment</p>
            <div id='profile_news'>
                <div class='profile_news_item'>
                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur</p>
                    <p class='news_info'>17 Aug 2009</p>&nbsp;
                </div>
                <div class='profile_news_item'>
                    <p>Quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
                    <p class='news_info'>1 July 2009</p>&nbsp;
                </div>
                <div class='profile_news_item'>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    <p class='news_info'>7 March 2009</p>&nbsp;
                </div>
            </div>
        </div>
        &nbsp;
    </div>
    <div id='footer'>&copy; Terpsicle</div>
</div>
</body>
</html>
