{% extends "base.html" %}

{% block title %}Change your settings{% endblock %}

{% block content %}
{% autoescape on %}

        <div id='default_content'>
            <div id='min_banner'><h2>Edit your settings</h2></div>
            <div id='info_bar'>
                <p style='padding-top:1em; padding-bottom:1em'>
                    Click here to change your
                    <a href='/accounts/change_password/'>password</a>
                </p>
            </div>
            <div id='booking_summ'>
                <form action="." method="POST">
                    <table>
                        {% for r in form %}
                        <tr>
                            <td>{{ r.label }}&nbsp;&nbsp;</td>
                            <td>{{ r }}</td>

                        </tr>
                        {% endfor %}
                    </table>
                    <p style='padding-top:1.5em'><input type="submit" value="Save"/></p>

                </form>
            </div>
            &nbsp;
        </div>
        &nbsp;

{% endautoescape %}
{% endblock %}

