<html>
<head>
    <script type="text/javascript" src="http://www.tri-dates.com/media/js/jquery.js"></script>
    <script type="text/javascript" src="http://www.tri-dates.com/media/js/jquery-ui.js"></script>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-9960860-2");
            pageTracker._trackPageview("/404.html?page=" + document.location.pathname + document.location.search + "&from=" + 
                                       document.referrer);
        } catch(err) {}
    </script>
    <meta name="verify-v1" content="/ynBf3xXCYsznW1bhfUb3tB4YWIFaCTiLTov4vvhilg=" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="stylesheet"
          type="text/css"
          href='http://www.tri-dates.com/media/style.css'>
    </link>
    <title>Tri Dates {% block title %}{% endblock %}</title>

</head>
<body>
{% autoescape on %}
<div id='all'>
    <div id='masthead'><a href='/'><img src='http://www.tri-dates.com/media/banner.png' /></a></div>
<!--
    <div id='menu'>
        <ul class="righthand">
        </ul>
        <ul class="lefthand">
        </ul>
    </div>
-->
    <div id='logging_id'>
        <div id='findActor' style='float:left; display: none'>
                &nbsp;
        </div>
        &nbsp;
    </div>
    <div id='main'>
      <div id='default_content'>
        <h1 style='padding-top:1em'>Mishap!</h1>
        <p style='padding-top:1.5em'>This page cannot be found, please return <a href='/'>home</a></p>
        <p style='padding-bottom:2em'>If you think this is a problem, please contact <a href='mailto:support@tri-dates.com'>support@tri-dates.com</a></p>
      </div>
    </div>
    <div id='footer'>&copy; Tri Dates</div>
</div>
{% endautoescape %}
</body>
</html>

